* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-style: normal;
}

.header {
    background-color: black; 
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;   
}

.container {
    max-width: 1250px;
    margin: auto;    
}

.header-content {
    display: flex;
    height: 83px;
    justify-content: space-between;
    align-items: center;
}

.logo {   
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #E3B873;
}

.header-navigation {
    list-style: none;
    display: flex;   
}

.header-navigation-item {
    margin-right: 47px;
    font-size: 11px;    
}

.header-navigation-item a {
    text-decoration: none;
    color: white;
}

.header-navigation-item a:hover {
    color: #E3B873;
}

.telephon {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    
}

.button {
    background: #E3B873;
    border-radius: 2px;
    padding: 13px 33px;
    color: white;
    border: 0;
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;   
    
}

.button:hover {
    background-color: wheat;
}

.main {
    font-family:'Yeseva One', 'Times New Roman', Times, serif;
}

.hero {
    background-image: url("../projects/images/hero.jpg");
    background-size: cover;
    height: 707px;    
}

.hero-content {
    margin-top: 194px;
    margin-left: 21px;
    width: 676px;
    height: 305px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.hero-overlay {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 707px;
    background-color: rgba(0, 0, 0, .7);
    margin-top: 83px;
}

.title1 {    
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 105px;
    width: 550px;
}

.hero-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    color: #FFFFFF;
    height: 89px;
    width: 504px;
    margin-top: 19px;
    margin-bottom: 35px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.button-clear {
    background: none;
    padding: 12px 31px;
    text-transform: uppercase;
    margin-left: 20px;
    border: 1px solid;
    border-color: #FFFFFF;
}

.hero2 {
    background-color: black;
    width: 100%;
    background-size: cover;  
    height: 100%;
    padding-top: 107px;
    padding-bottom: 450px;
}

.wraper {
    display: flex;
    height: 552px;
    margin: auto;    
}

.complited {    
    width: 442px; 
    margin-left: 21px;

}

.complited-title {
    
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    width: 250px;
    height: 66px;
    margin-bottom: 34px;
    margin-top: 69px;
    
}

.complited-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;  
}

.wrap-circle {
    display: none;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 204px 204px;
    grid-template-rows: 120px 120px;
    margin-top: 42px; 
}

.city-title {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    text-transform: uppercase;
}

.title {   
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-transform: uppercase;  
}

.pointer {
    width: 205px;
    height: 13px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.point {
    margin-top: 4px;
}

.rostov {
    height: 24px;
    width: 623px;
    margin-left: 513px;
    position: absolute;
}

.links {
    list-style: none;
    display: flex;  
    justify-content: space-between ;
    text-transform: uppercase;
    font-size: 14px;
}

.chairs {
    width: 679px;
    margin-top: 69px;
    margin-left: 50px;
}

.links-items {
    text-decoration-color: black;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.3);
    font-style: normal;
    font-weight: 400;      
}

.links-items:hover {
    color: #E3B873;
    text-decoration-color: #E3B873;
    text-underline-offset: 10px;
}

.hero3 {
    width: 100%;
    margin-top: -340px;
}

.control {
    width: 170px;
    height: 67px;   
    align-items: center;
    margin-bottom: 31px;   
}

.white {
    color: #FFFFFF;
}

.black {
    color: rgb(0,0,0);
}

.yellow {
    color: #E3B873;
}

.svg_wrapper {
    display: flex;
    width: 114px;
    margin: auto;
}

.svg {
    width: 33px;
    height: 28px;
    padding-top: 13px;
    margin: auto;
}

.video__frame {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../projects/images/master.jpg) no-repeat center;
    background-size: cover;  
    width: 100%;
    max-width: 817px;
    height: 434px;
    margin: 0 auto;
}

.video__frame-circle {
    width: 100px;
    height: 100px;
    background-color: #E3B873;
    border-radius: 50%;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    cursor: pointer;
    position: relative;
    transition: all .2s linear;
}

.video__frame-circle:hover {
    background-color: rgba(227, 184, 115, .8);
}

.video__frame-arrow {
    max-width: 25px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate3d(-55%, -50%, 0);
}

.line {
    background: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 1.6px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 26px;
}

.long-line { 
    width: 55px;
    height: 1.5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 62px;
    background-color: #E3B873;
    border: none;
    border-radius: 30px;
}

.video-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 681px;
    height: 131px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 34px;
}

.form {
    width: 769px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.hero4 {
    width: 100%;
    margin-top: 148px;
}

.margin {
    margin: auto;
    width: 170px;
    text-align: center;
}

.input-wrapper {
    width: 769px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.input {
    border: none;
    border-bottom: 1px solid #3636364D;
    width: 230px;
    padding-bottom: 7px;
    
}


.input:focus {
    border-bottom: 1px solid #3636364D;
    outline: none;  
}

.first-checkbox {
    width: 285px;
    height: 18px;
    margin: auto;
}

.label {
    cursor: pointer;
}

.checkbox {
    display: none;    
}

.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.sumbit {
    width: 200px;
    height: 50px;
    background: #E3B873;
    border-radius: 2px;
    padding: 20px 75px;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;      
}

.sumbit:hover {
    background-color: wheat;
}

.card {
    height: 608px;
    width: 392px;
   
}   

.cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 330px;
    height: 286px;
    margin-top: -125px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.index {
    z-index: -1;
    position: relative;
}

.title-name {
    height: 21px;
    padding-top: 25px;
    margin-left: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.list {
    width: 267px;
    height: 178px;
    margin-top: 34px;
    margin-left: 50px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.price {
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    margin-left: 31px;
    margin-top: -28px;
}

.price-title {
    margin: auto;
    padding-top: 17px;
    width: 195px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero5 {
    width: 100%;
    height: 725px;
}

.building {
    width: 100%;
    height: 645px;
    background-image: url(../projects/images/building.jpg);
    background-repeat: no-repeat;
    margin-top: 190px;
    position: absolute;
}

.numbers {
    display: grid;
    grid-template-columns: 60px 320px;
    grid-template-rows: repeat(4, 130px);
    margin-top: 20px;
    margin-left: 100px;
    align-items: center;

}

.one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);

}

.flex {
    display: flex;
    justify-content: space-between;
}

.black-form {
    width: 506px;
    height: 509px;
    margin-top: 40px;
    background-color: #131313;
}

.form-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 300px;
    height: 47px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
}

.form-name {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFF;

}

.form-input {
    border: none;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.15);;
    width: 408px;
    padding-bottom: 7px;
    background-color: #131313;
    color: white;
}

.form-input:focus {
    border-bottom: 1px solid #3636364D;
    outline: none; 
    color: white; 
}

.form-wrapper {
    width: 408px;
    height: 244px;
    margin-top: 39px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;

}

.second-checkbox {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    margin-left: 49px;

}

.call {
    width: 213px;
    height: 51px;
    background: #E3B873;
    padding: 19px 22px;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
    margin-top: 39px;
    margin-left: 244px;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;      
}

.call:hover {
    background-color: wheat;
}

.pig {
    width: 441px;
    height: 72px;
    margin-left: 910px;
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.orb {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pig-text {
    width: 344px;
    height: 47px;
    margin-left: 25px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.hero6 {
    margin-top: 400px;
    width: 100%;
    height: 864px;
    background-image: url(../projects/images/room.jpg);
    background-size: cover;
}

.overlay {
    content: "";
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 864px;
    background-color: rgba(0, 0, 0, .7);
    margin-top: 100px;   
    z-index: 1;
}

.we-title {
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    width: 411px;
    height: 66px;
    padding-top: 137px;
}

.list-style {
    list-style: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    width: 300px;
    height: 516px;
    
    margin-top: 113px;
    line-height: 25px;
    display: grid;
}

.list-style-item {
    text-decoration: none;
    color: #FFFFFF;
}

.list-style-item:hover {
    color: #E3B873;
}

.clock {
    margin-top: -42px;
}

.couch {
    margin-top: -113px;
    margin-left: 43px;
}

.flower {
    margin-left: 43px;
    margin-top: -350px;
}

.images {
    width: 751px;
    height: 834px;
    margin-left: 77px;
    display: grid;
    grid-template-columns: 354px 354px;
    grid-template-rows: 557px 350px;
}

.hero7 {
    height: 1107px;
    width: 100%;
    margin-top: 110px;
    background-image: url(images/Frame.jpg);
    background-repeat: round;
    
}
.persons {
    width: 1236px;
    height: 455px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.person {
    width: 376px;
    height: 425px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.foto {
    margin-top: 24px;
    margin-left: 20px;
    display: inline-block;
}

.flex-person {
    display: flex;
}

.name {
    width: 178px;
    height: 42px;
    margin-top: 41px;
    margin-left: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.person-text{
    margin-top: 22px;
    margin-left: 21px;
    width: 324px;
    height: 239px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}

.days {
    width: 146px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    align-items: center;
   
}

.days-wrapper {
    display: flex;
    justify-content: space-between;
    width: 294px;
    margin-top: 39px;
}

.calendar {
    margin-left: 17px;
    margin-right: 15px;
}

.hero8 {
    width: 100%;
    height: 954px;
    background-image: url(images/backgr.jpg);
    position: absolute;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);

}

.last-overlay {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 954px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
}

.last-form {
    width: 883px;
    height: 445px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -220px;
    background-color: #131313;
}

.form-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 35px;
}

.name-phone {
    display: flex;
    width: 520px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    justify-content: space-between;
}

.last-input {
    border: none;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.15);;
    width: 231px;
    padding-bottom: 7px;
    background-color: #131313;
    color: white;
}

.question-input {
    border: none;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.15);;
    width: 520px;
    padding-bottom: 7px;
    background-color: #131313;
    color: #FFF;
}

.last-input:focus {
    border-bottom: 1px solid #3636364D;
    outline: none;
    color: white;  
}

.question-input:focus {
    border-bottom: 1px solid #3636364D;
    outline: none;  
    color: white;
}

.question {
    margin-top: 49px;
    margin-left: 181px;
}

.last-checkbox {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    margin-left: 300px;
    margin-top: 46px;
}

.left {
    margin-left: 341px;
    margin-top: 50px;
}

.adress-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 42px;
    margin-bottom: 26px;
    text-align: center;
}

.circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #E3B873;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-wrapper {
    display: flex;
    justify-content: space-between;
    width: 71px;
    margin: auto;
}

.inst {
    margin-top: 8px;
}

.map {
    margin-left: 300px;
    margin-top: 43px;
}

.footer {
    margin-top: 954px;
    background-color: black; 
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;   
}



@media ( max-width: 376px) {
   
    .container {
        max-width: 340px;
        margin: auto;  
        
    }

    .header-content {
        display: flex;
        height: 57px;
        justify-content: space-between;
        align-items: center;
    }

    .header-navigation {
        display: none;
    }

    .request {
        display: none;
    }

    .telephon {
        color: #FFF;
        text-decoration: none;
    }

    .title1 {
        font-size: 23px;
        line-height: 31px;
        margin-top: 85px;
        height: 60px;
    }

    .hero {
        height: 476px;
    }

    .hero-overlay {
        height: 480px;
        margin-top: 56px;
    }

    .hero-text {
        font-size: 14px;
        line-height: 19px;
    }

    .button {
        width: 340px;
        height: 51px;
        border-radius: 0%;
        
    }

    .button-clear {
        margin-left: 0px;
        margin-top: 26px;
    }

    .hero2 {
        padding-top: 36px;
    }

    .complited {
        margin: 0;
    }

    .complited-title {
        font-size: 22px;
        width: 340px;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
    }

    .complited-text {
        width: 340px;
        font-size: 11px;
        line-height: 17px;
    }
    
    .rostov {
        display: none;
    }

    .chairs {
        display: none;
    }

    .pointer {
        display: none;
    }

    .table {
        width: 340px;
        height: 241px;
        background-image: url(images/table.jpg);
        background-size: cover;
        margin-top: 40px;
    }

    .wrap-circle {
        display: flex;
        justify-content: space-between;
        width: 310px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 110px;
        
    }

    .city-title {
        font-size: 14px;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: 160px 160px;
        grid-template-rows: 90px 90px;
        margin-top: 42px; 
    }

    .title {
        font-size: 22px;
        width: 220px;
    }

    .margin {
        width: 220px;
    }

    .video__frame {
        width: 340px;
        height: 207px;
        margin-top: 40px;
    }

    .video__frame-circle {
        width: 37px;
        height: 37px;
    }

    .video__frame-arrow {
        max-width: 12px;
    }

    .hero3 {
        background-color: black;
    }

    .hero4 {
        margin-top: 80px;
    }

    .video-text {
        width: 340px;
        height: 107px;
        font-size: 11px;
        line-height: 19px;
        color: white;
    }

    .form {
        width: 340px;
        height: 311px;
        margin-top: 50px;
        color: white;
    }

    .input-wrapper {
        display: block;
    }

    .input {
        border-bottom: 1px solid #fff;
        width: 340px;
        background-color: #000;
        color: white;
        margin-bottom: 63px;
    }

    .first-checkbox {
        width: 340px;
        margin-top: 140px;
    }

    .sumbit {
        width: 340px;
        border-radius: 0;
        margin-top: 60px;
    }

    .cards {
        display: block;
    }

    .card {
        width: 340px;
        height: 484px;
        margin-bottom: 59px;
    }

    .index {
        width: 340px;
        height: 365px;
    }

    .box {
        width: 270px;
        height: 241px;
        margin-left: 0;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }

    .title-name {
        font-size: 15px;

    }

    .list {
        line-height: 22px;
    }

    .price {
        width: 190px;
        height: 40px;
        margin-left: 0;
        margin-top: -20px;
    }

    .price-title {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 15px;
    }

    .hero5 {
        display: none;
    }

    .hero6 {
        margin-top: 0;
        background-image: none;
        height: 333px;
    }

    .overlay {
        background-color: #fff;
        height: 333px;
        margin-top: 0;
    }

    .we-title {
        padding: 0;
        font-size: 22px;
        width: 240px;
        margin-left: 50px;
        text-align: center;
    }

    .closet {
        width: 340px;
        height: 242px;
        background-image: url(images/closet.jpg);
        background-size: cover;
        margin-top: 25px;
    }

    .list-style {
        display: none;
    }

    .images {
        display: none;
    }

    .hero7 {
        display: none;
    }

    .hero8 {
        background-color: #000;
        background-image: none;
        height: 1100px;
        margin-top: 25px;
        
    }

    .last-overlay {
        background-color: #000;
        
        
    }

    .footer {
        display: none;
    }

    .last-form {
        width: 340px;
        height: 311px;
        margin-top: 40px;
        color: white;
        background-color: #000;
    }

    .name-phone {
        display: block;
    }

    .last-input {
        border-bottom: 1px solid #fff;
        width: 340px;
        background-color: #000;
        
        margin-bottom: 63px;
    }

    .question-input {
        width: 340px;
        color: #FFF;
        background-color: #000;
        border-bottom: 1px solid #fff;
    }

    .question {
        margin-left: 0;
        margin-top: 170px;
        color: #FFF;
    }

    .last-checkbox {
        width: 340px;
        margin-top: 40px;
        margin-left: 0;
    }

    .sumbit {
        width: 340px;
        border-radius: 0;
        margin-top: 60px;
    }

    .map {
        margin-left: 17px;
        margin-bottom: 42px;
        width: 340px;
        height: 255px;
    }

    .adress-text {
        width: 340px;
        height: 71px;
        font-size: 18px;
        margin: auto;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 250px;
    }

    .left {
        margin: 0;
    }

    .circle {
        width: 38px;
        height: 38px;
        
    }

    .circle-wrapper {
        margin-top: 30px;
        width: 100px;
    }
    
    .inst {
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
}
